* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #5A1978;
    --cor2: #D27FF9;
    --cor3: #B934F7;
    --cor4: #653D78;
    --cor5: #962AC7;
    --cor6: #eabcff;
}

form {
    max-width: 500px;
    margin: auto;
}

#titulo {
    font-family: sans-serif;
    color: var(--cor1);
    text-align: center;
    margin-top: 2%;
}

#subtitulo {
    font-family: sans-serif;
    color: var(--cor4);
    text-align: center;
}

body {
    background-color: var(--cor6);
    font-family: sans-serif;
    color: var(--cor5);
}

input, select, textarea, button {
    font-family: sans-serif;
    color: var(--cor4);
    font-size: 1em;
    border-radius: 5px;
}

fieldset {
    border: 0;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    color: var(--cor5);
    display: block;
} 

.campo input:focus, .campo textarea:focus, .campo select:focus {
    background-color: var(--cor6);
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid var(--cor2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.botao {
    font-size: 1.2em;
    color: white;
    border: 0;
    background-color: var(--cor4);
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    position: relative;
    top: 90%;
    left: 50%;
    transform: translate(-90%, -50%);
}

.botao:hover {
    background-color: var(--cor2);
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.botao, select {
    cursor: pointer;
}

